@import '../../styles/colors';

.navbar {
  background-color: $bg-secondary;
  width: auto;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & a {
    text-decoration: none;
    color: $font-primary;
    padding: 10px;
    font-size: 20px;
    margin-right: 20px;
  }
}

.logo img {
  margin-left: 20px;
  width: 45px;
  height: 45px;
}
