.navbar {
    background-color: #A5A58D;
    width: auto;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    & a {
        text-decoration: none;
        color: #6B705C;
    }

    & .nav-home,
    .nav-movies,
    .nav-reviews {
        padding: 10px;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 20px;        
    }

    & .nav-reviews{
        margin-right: 20px;
    }
}