@import '/src/app/styles/colors';

.container {
  padding: 50px 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-pages;
}

.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.list-item {
  padding: 10px;
  margin: 20px;
  align-items: center;
  border: solid $bg-primary 3px;
  border-radius: 3%;
  background-color: $bg-primary;
  font-size: 16px;
  color: $font-primary;  
}

.list-item__img {
  width: 200px;
}

.inner-container {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

/* From cssbuttons.io */
button {
    padding: 4px;
    font-size: 10px;
    font-weight: 600 ;
    color: #6B705C;
    background-color: #DDBEA9;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-decoration: none;
   }
   
   button:hover {
    background-color: $font-secondary;
    box-shadow: 0px 15px 20px rgba(221, 190, 169, 0.4);
    color: #fff;
    transform: translateY(-7px);
   }
   
   button:active {
    transform: translateY(-1px);
   }

.shadow-drop-center {
  -webkit-animation: shadow-drop-center 0.4s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-drop-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
