<div class="loading" *ngIf="!movie">
  <h1>Loading...</h1>
</div>

<div class="main-container" *ngIf="movie">
  <h1>{{ movie.title }}</h1>
  <!-- <p>ID: {{ movie.id }}</p> -->
  <div class="card-detail shadow-drop-center">
      <div class="img-container">

          <img [src]="movie.movie_banner"  class="image"/>
      </div>
    <p><span>Director: </span> {{ movie.director }}</p>
    <p><span>Description: </span> {{ movie.description }}</p>
    <p><span>Duration: </span>{{ movie.running_time }} minutes.</p>
  </div>

  <a [routerLink]="['..']">Back</a>
</div>
